.row {
  margin-left: 20px;

  &-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }

  &-container::-webkit-scrollbar {
    display: none;
  }

  &-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
  }

  &-poster:hover {
    transform: scale(1.06);
  }

  &-posterLarge {
    max-height: 200px;
  }

  &-posterLarge:hover {
    transform: scale(1.08);
  }
}
